body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
}

.font {
    margin: -5px;
    font-size: 3rem;
    font-weight: 700;
}

.blue-font {
    color: skyblue;
}

.flexible {
    display: flex;
    justify-content: center;
}

.flexible div {
    width: 45%;
}

.top img {
    width: 100%;
}

.btn {
    text-decoration: none;
    background: linear-gradient(45deg, rgb(170, 193, 247), rgb(21, 150, 236));
    color: white;
    font-weight: 700;
    padding: 10px 30px;
    border-radius: 15px;
}

.top {
    margin: 50px 80px;

}

.about-me img {
    width: 70%;
}

.about-me {
    background-image: url(images/shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.cook {
    text-align: center;
    margin: 100px;
}

.recipie {
    display: flex;
}

.recipie div {
    width: 50%;
    margin: 5%;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 2px 2px 8px 5px rgba(0, 0, 0, 0.2);
}

.recipie img {
    width: 100%;
    text-align: center;
}

.view {
    margin: 4.5%;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-around;
}

footer {
    padding: 10%;
    background-color: black;
    color: white;
    text-align: center;
}

footer h2 {
    color: gray;
}